<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="initial-scale=1, maximum-scale=5">
        <meta name="robots" content="index, follow">
        <meta name="referrer" content="origin">
        <meta name="description" content="디씨클리너">
        <meta name="keywords" content="디씨인사이드, 디시인사이드, 디시클리너, 클리너, dc, dc클리너, 디씨클리너, 잊혀질권리">
        <meta property="og:title" content="디씨클리너">
        <meta property="og:description" content="디씨클리너">
        <meta property="og:url" content="https://cleaner.wktkf.com">
        <meta name="theme-color" content="#2d3539">
        <link rel="canonical" href="https://cleaner.wktkf.com/">
        <link rel="icon" href="/favicon.ico" type="image/x-icon" />
        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
        <title>{{{titlename}}}</title>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-133285803-1"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-133285803-1');
	</script>

        <link rel="stylesheet" type="text/css" href="app.css">
        <script src="/app.js"> </script>
    </head>
    <body>
        <header>
        <h1>
        <a href="/">디씨클리너</a>
        </h1>
            <innerhtml id="header"> </innerhtml>
        </header>
        <div class="main">
            <innerhtml id="main"> </innerhtml>
        </div>
        <footer>
            <nav>
                <ul>
                    <li> <a href="/aboutus.html">About</a> </li>
                    <li> <a href="/terms.html">Terms & Policy</a> </li>
                    <li> <a href="/contactus.html">Contact</a> </li>
                </ul>
            </nav>
            <div class="copyright">
                Copyright © 2019 aing.io Inc. All rights reserved
            </div>
        </footer>
    </body>
</html>
